

header {
  background-color: #000000;);
  height: 400px;
  display: flex;
  align-items: center;
  

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-header);
    padding: 0%;
    width: 100%;
    }
  

  }

  .container-header {
    height: 5%;
    width: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }