:root {
  --primary-color: #eccf8b;
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --font-family: "Segoe UI", "Fira sans", "Halant", "Quattrocento Sans",
    "Tahoma", "Geneva", "Verdana", "sans-serif", "klee-one";
  --font-sans: "Quattrocento Sans", "Fira Sans", "sans-serif", "klee-one";
  --font-serif: "Halant", serif;
  --color-1: #000000;
  --text-color: #ffffff;
  --accent-color: #000000;
  --colour-primary: #000000;
  --colour-text: #ffffff;
  --colour-content-text: #000000;
  --max-width-header: 1200px;
  --max-width-content: 1100px;
}
